@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: $spacing-lg;

  @include respond-to('md') {
    padding: $spacing-xl;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: $header-height;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: $spacing-lg;

  @include respond-to('md') {
    padding: $spacing-xl;
  }
}

.not-found-content {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: $spacing-lg;
  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: lighter;
    font-family: ui-sans-serif, system-ui, 'Segoe UI', 'Noto Sans', sans-serif;

    span {
      font-weight: normal;
    }
  }
}
