@use '../abstracts/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-canvas);
}

html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  color: var(--color-text);
  background-color: var(--color-canvas);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color $transition-normal,
    color $transition-normal;
}

.bg-canvas {
  background-color: var(--color-canvas);
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}
